.container_mood_wheel {
    padding: 20px;
    box-shadow: 4px 4px 4px 0px #00000029;
    height: 80% !important;
    border-radius: 10px;
    margin-left: 20px !important;
    background-color: #FFF;
}

.container_mood_response {
    display: flex !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: space-evenly !important;
    align-items: stretch !important;
    flex-direction: column !important;
}