.container {
  margin: 3rem 0;
  padding: 20px;
  margin-left: 20px;
  box-shadow: 1px 1px 2px 0px #00000059;
  border-radius: 10px;
  background-color: #FFF;
  margin-top: 0px;
}

.titleContainer {
  margin-bottom: 2rem !important;
}