.container {
  flex: 1;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  margin-top: -4rem;
}

.heading {
  display: flex;
  background-color: #03989E !important;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form {
  width: 100%;
  padding: 0 2rem !important;
}

.footer {
  width: 100%;
  padding: 0 2rem !important;
  display: flex;
  flex-direction: column !important;
  align-items: center;
}

.divider {
  width: 100%;
  margin-bottom: 1rem !important;
}

.h4_mindflics {
  color: #005c61 !important;
}